.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  @media only screen and (max-width: $bp-largest) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: flex-end;
    align-content: center;
  }

  display: flex;
  justify-content: center;
}

.nav {
  &-btn {
    height: 5rem;
    width: 5rem;
    cursor: pointer;
    border: none;
    background-color: transparent;

    @media only screen and (max-width: $bp-largest) {
      margin-right: 3rem;
    }
  }

  &__icon {
    display: block;
    height: 2px;
    width: 4.5rem;
    background-color: #fff;

    &::before,
    &::after {
      display: block;
      height: 2px;
      width: 4.5rem;
      background-color: #fff;
      content: "";
    }

    &::before {
      transform: translateY(-1.2rem);
    }

    &::after {
      transform: translateY(1rem);
    }
  }
}
